//Fonts
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//  font-family: "Open Sans", sans-serif;
//  font-family: "Marvel", sans-serif;


//Colors
$color_salmon: #F4A88E;
$color_white: #FFFFFF;
$color_whiteTransparent: #ffffffc1;
$color_gray: #CCCCCC;
$color_black: #000000;